@font-face{
  src: url("assets/quick.ttf");
  font-family: "Quicksand";
}
*{
  font-family: "Quicksand";
  user-select: none;
}
body{
  display: flex;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
}
.board{
  height: 310px;
  width: 310px;
  background: burlywood;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  padding: 5px;
  margin-top: 80px;
}
.grid-box{
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: beige;
  border-radius: 4px;
  color: sandybrown;
  font-size: 24px;
}
.timer{
  height: 80px;
  width: 200px;
  color: rgba(0,0,0,0.4);
  position: absolute;
  top: 10px;
  display: flex;
  justify-content: center;
  font-size: 30px;
  align-items: center;
  background: transparent;
}
.redo{
  height: 320px;
  width: 320px;
  background: rgba(0,0,0,0.4);
  color: white;
  font-size: 50px;
  position: absolute;
  margin-top: 80px;
  justify-content: center;
  align-items: center;
  display: none;
}